<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>706134238441-8chje5hlmdmr2j3661j46bcf7mkpebhj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.706134238441-8chje5hlmdmr2j3661j46bcf7mkpebhj</string>
	<key>API_KEY</key>
	<string>AIzaSyBiV-fVMbUtleGqsqFpPbbC42MH13UOInk</string>
	<key>GCM_SENDER_ID</key>
	<string>706134238441</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sabSunno</string>
	<key>PROJECT_ID</key>
	<string>sab-sunno</string>
	<key>STORAGE_BUCKET</key>
	<string>sab-sunno.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:706134238441:ios:550d588f473ccbac78fc78</string>
</dict>
</plist>